[Unit]
Description=ParseBox kiosk HTTP server
After=network.target

[Service]
ExecStart=/usr/bin/node __SERVER_ENTRYPOINT__ --config __SERVER_CONFIG__
Restart=on-failure

[Install]
WantedBy=default.target
